.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-ml);

  & a {
    width: 248px;
  }

  @media (max-width: 768px) {
    & a {
      width: auto;
    }

    & a:last-child {
      display: none;
    }
  }
}
