.container {
  height: var(--header-h);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  // cursor: pointer;
  cursor: none;
  padding: 0 var(--space-m);
  border-radius: 1000px;

  transition: 150ms var(--easing);
  transition-property: transform;

  @media (min-width: 768px) {
    &:hover {
      transform: scale(1.05);
    }
  }

  @media (max-width: 768px) {
    cursor: pointer;

    height: 48px;
    padding: 0 var(--space-m);
  }
}

/* Variants */
.lightGreen {
  background: var(--light-green);
  color: var(--dark-green);

  &:link,
  &:visited {
    color: var(--dark-green);
  }
}

.darkGreen {
  background: var(--dark-green);
  color: var(--light);

  &:link,
  &:visited {
    color: var(--light);
  }
}

.light {
  background: var(--light);
  color: var(--dark-green);

  &:link,
  &:visited {
    color: var(--dark-green);
  }
}

.mobileMenu {
  background: var(--dark-green);
  color: var(--light);

  &:link,
  &:visited {
    color: white;
  }
}
