.container {
  width: auto;
  height: 100%;
}

.header {
  height: var(--header-h);
  min-width: 186px;
  z-index: 999;
  cursor: none;

  @media (max-width: 768px) {
    height: 48px;
    width: 94px;
    min-width: 94px;
    cursor: pointer;
  }
}
